# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Environment files
.env
.env.local
.env.*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temporary files
tmp/
temp/

# Hide config files with sensitive information
config/config.yaml 
config/config.dev.yaml
config/config.test.yaml
config/mail_config.test.yaml

config/config.prod.yaml
config/config.ec2.uitest.yaml
config/config.desktop.manual.yaml
config/config.desktop.uitest.yaml

# EC2 Secrets
deploy/ec2-mvp/config.env
deploy/ec2-mvp/config.yaml
deploy/ec2-mvp/infra_state.env
deploy/ec2-mvp/secrets.txt

# Test data -- do not commit test data to the repository
tests/data-setup/user_org.yaml
uploads/
test-uploads/
logs/

# generated artifacts
api/gen/
config/firebase-admin-key.json*
bin/
client/
deploy/ec2-mvp/build/
