# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Environment files
.env
.env.local
.env.*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temporary files
tmp/
temp/

# Hide config files with sensitive information
config/config.dev.yaml
config/config.stage.yaml
config/config.prod.yaml
config/config.test.yaml
config/mail_config.test.yaml
tests/data-setup/user_org.yaml
uploads/
test-uploads/
logs/
client/

# generated api code
api/gen/
